@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap');

:root {
    --background-color: black;
    /* Background color */
    --main-color: #F4FFCA;
    /* Main color */
    --white-color: #edf8ee;
    /* color variation 1 - blue*/
    --variation-blue: #CAEFFF;
    /* color variation 2 - pink*/
    --variation-pink: #E4CAFF;
    /* color variation 3 - orange*/
    --variation-orange: #FFC46C;

    --radius: 2px;
}

body {
    font-family: "Inria Serif";
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    margin: 0;
    overflow-x: hidden;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 25px;
}

#subtitle {
    font-size: 32px;
}

.countdown div {
    text-align: left;
    font-family: "Inria Serif";
    font-style: normal;
    font-weight: 400;
    line-height: 100%;

}

h1 {
    margin: 0;
    font-size: 4vw;
    display: flex;
    padding-left: 42px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}

#login-butn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

img {
    width: 450px;
    height: auto;
}

header {
    color: var(--background-color);
    font-family: "Sarina";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    padding-top: 5vh;
    padding-right: 5vw;
    padding-left: 5vw;

}

.top-Content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px 0px 100px;
    flex-wrap: wrap;

}

.countNumer {
    color: var(--background-color);
    font-family: "Inria Serif";
    font-size: 98px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

#seconds {
    font-size: 40px !important;
    margin-bottom: 35px;
    background-color: var(--background-color);
    color: var(--main-color);
    min-width: 50px;

}

.singelCounter {
    text-align: left !important;

}

.subtitleCounter {
    color: var(--background-color);
    font-family: "Inria Serif";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.inner-top-Content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-grow: 1;
}

.upcoming-Events {
    background-color: var(--background-color);
    padding: 40px 10% 100px 10%;
    text-align: center;
    margin: 0 auto;
}

.additional-info {
    background-color: var(--background-color);
    padding: 40px 10% 100px 10%;
    text-align: left;
    margin: 0 auto;
}

h2 {
    color: #B2CF5A;
    padding-bottom: 40px;
}

.date {
    background-color: var(--main-color);
    color: var(--background-color) !important;
    padding: 10px 30px 10px 0;
    min-width: 170px;
    vertical-align: middle;
}

#days{
    font-size: 130px;
}

@media only screen and (max-width: 560px) {
    .countNumer {
        font-size: 50px;
    }

    .top-Content {
        padding: 40px 0 40px 0;
    }

    #seconds {
        font-size: 20px !important;
        min-width: 25px;
        margin-bottom: 30px;
    }

    #subtitle {
        font-size: 20px;
    }

    img {
        flex-grow: 1;
        width: 90%;
        margin-top: 10%;
    }

    .date {
        padding: 0 !important;
        margin-top: 10px;
        flex-grow: 1;
    }

    .countdown {
        gap: 15px;
    }

    .event-card a {
        padding-left: none;
        text-align: center;
        flex-grow: 1;

    }

    .top-Content {
        justify-content: center;
    }

    form {
        padding: 40px 20px !important;
    }
}

button {
    border-radius: var(--radius);
    background: var(--background-color);
    color: var(--white-color);
    font-family: "Inria Serif";
    font-size: 1.5rem;
}

.event-card {
    font-size: 20px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    flex-wrap: wrap;
}

.event-card:hover {
    text-decoration: underline;
}

.event-card a {
    text-decoration: none;
    color: var(--main-color);
    padding-left: 30px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 60px 0px;
    gap: 40px;
    background: black;
}

footer a {
    text-decoration: none;
    color: var(--white-color);
}

footer a:hover {
    text-decoration: underline;
}

#description {
    color: var(--main-color);
}

#back-btn {
    stroke: var(--background-color);
}

#back-btn:hover {
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
}


#login-btn:hover {
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
}

/* Custom scrollbar for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #313131;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #7a7a7a;
}

#login-form {
    border-radius: var(--radius);
    border: 1px solid var(--background-color);
    background: var(--main-color);
    box-shadow: 14px 17px 16.4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 90px;
}

input {
    border-radius: 2px;
    border: 1px solid var(--background-color);
    background: #FFF;
    color: var(--background-color);
    font-family: "Inria Serif";
    font-size: 1.5rem;
}

.black-box {
    width: 100%;
    height: 50px;
    background: var(--background-color);
}

form {
    padding: 40px 60px;
}

.form-group {
    padding-bottom: 10px;
}

/*test code*/
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup-content {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input[type="text"],
input[type="date"],
textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    display: none;
    cursor: pointer;
}

/* Hide the default radio button */
input[type="radio"] {
    display: none;
}

/* Define the custom radio button style */
.custom-radio {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

#green {
    background-color: var(--main-color);
}

#blue {
    background-color: var(--variation-blue);
}

#pink {
    background-color: var(--variation-pink);
}

#orange {
    background-color: var(--variation-orange);
}

/* Define the dot inside the custom radio button */
.custom-radio::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 0;
    transition: opacity 0.2s;
}

/* Show the dot when the radio button is checked */
input[type="radio"]:checked+.custom-radio::after {
    opacity: 1;
}

.color_changer {
    padding: 10px 0px 10px 0px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;

}

/*Style for popup window*/

#popup-container {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 100;
}
.btn_card{
    background:black;
    color: var(--white-color);
    padding: 5px 10px;
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    backdrop-filter: blur(5px); /* Apply blur effect */
    z-index: 99; /* Ensure the overlay appears below the popup */
}

#btn{
    display: none;
}

#card_image{
    transition: background-color 3s ease; /* Smooth transition for color change */
}